{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

    <h2>Bienvenido a la Tienda Online</h2>

    {% if nombre %}
        <p>Hola, {{ nombre }} 👋</p>
    {% else %}
        <p>Explora nuestros productos y ofertas</p>
    {% endif %}

    <hr>

    <h2>Agregar Producto</h2>

    <form action="/guardar" method="POST">
        <input type="text" name="nombre" placeholder="Nombre"><br><br>
        <input type="number" name="precio" placeholder="Precio"><br><br>
        <input type="number" name="cantidad" placeholder="Cantidad"><br><br>
        <button type="submit">Guardar</button>
    </form>

{% endblock %}
<a href="/datos">Ver datos guardados</a>
<br><br>

<a href="/datos">Ver productos guardados</a>
<br>
<a href="/inventario">Ver inventario</a>
<br>
<a href="/buscar">Buscar producto</a>